body {
    background: #fefefe;
}

h2 {
    color: #1460AA;
}

.art_title {
    color: rgb(255, 128, 105);
}

.main_title {
    color: green;
}

body h1 {
    color: red;
}

h1 {
    color: yellow;
}

.akapit {
    font-family: sans-serif;
}